@import "tailwindcss";

/* Start Global Variables with TailwindCSS*/

@layer base {
  :root {
    --primary-color: #2679b2;
    --secondary-color: #ffed4a;
    --accent-color: #e3342f;
  }
}

/* End Global Variables with TailwindCSS */

:root {
 --theme-body-color: #dddddd88;
}

body{
  background-color: var(--theme-body-color);
  padding: 0px;
  margin: 0px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRightToLeft 0.60s ease-out forwards;
}

